
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~open-iconic/font/css/open-iconic-bootstrap';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.my-icons {
  display:inline-block;
  width:20px;
  height:20px;
}
.add-icon {
  background-image: url('/storage/icons/add-plus-button.svg');
}
.edit-icon {
  background-image: url('/storage/icons/edit.svg');
}
.dustbin-icon {
  background-image: url('/storage/icons/dustbin.svg');
}
.ql-omega:after {
  content: "Ω";
}
.left-slider {
  background-image: url('/storage/icons/back.svg');
}
.left-slider:active {
  background-image: url('/storage/icons/keyboard-left-arrow-button.svg');
}
.right-slider {
  background-image: url('/storage/icons/next.svg');
}
.right-slider:active {
  background-image: url('/storage/icons/keyboard-right-arrow-button.svg');
}
