
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~open-iconic/font/css/open-iconic-bootstrap';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//Icons
.my-icons {
  display:inline-block;
  width:20px;
  height:20px;
}
.add-icon {
  background-image: url('/storage/icons/add-plus-button.svg');
  background-size: 100%;
}
.edit-icon {
  background-image: url('/storage/icons/edit.svg');
}
.dustbin-icon {
  background-image: url('/storage/icons/dustbin.svg');
}
.check-icon {
  background-image: url('/storage/icons/draw-check-mark.svg');
  background-size: 100%;
}
.ql-omega:after {
  content: "Ω";
}
//Image-Slider
.left-slider {
  background-image: url('/storage/icons/back.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
.left-slider:active {
  background-image: url('/storage/icons/back.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px 100%;
}
.right-slider {
  background-image: url('/storage/icons/next.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
.right-slider:active {
  background-image: url('/storage/icons/next.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px 100%;
}
//Autocomplete additional
.autocomplete ul {
  z-index: 3000;
}


